.pc, .tablet{
    display: none;
}

header{
    background-color: #a57dff;
    height: 50px;
    position: relative;
}

h1{
    text-align: center;
    
}
h1 img{
    padding-top: 5px;
    width: 63px;
}

.btnnav{
    position: absolute;
    top:0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0,0,0.4);
}

.btnnav span{
    width: 26px;
    height: 3px;
    display: block;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    border-radius: 50px;
}

.btnnav span:last-child{
    margin-bottom: 0;
}

.btnmember{
    position: absolute;
    top:0;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0,0,0.4);
  
}

.btnmember img{
    width: 15px;
}

nav{
    display: none;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #a57dff;
}

.btnclose{
    width: 50px;
    height: 50px;
    position: absolute;
    top:0;
    right: 0;
}

.btnclose span{
    width: 26px;
    height: 3px;
    background-color: #fff;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 23.5px;
    left:12px;
}

.btnclose span:nth-child(1){
    transform: rotate(45deg);
}

.btnclose span:last-child{
    transform: rotate(-45deg);
}

.gnb{
    font-size: 33px;
    font-family: 'pretendard';
    font-weight: 700;
    color:#fff;
    text-transform: uppercase;
    margin-top: 60px;
    margin-left: 20px;
}

.gnb li{
    margin-bottom: 10px;
}

.util{
    display: flex;
    justify-content: center;
    color:#fff;
    font-family: 'pretendard';
    font-size: 20px;
}
.util li:before{
    content: '|';
    margin-left: 5px;
    margin-right: 5px;
}

.util li:first-child:before{
    content: none;
}

.bn img{
    width: 100%;
}


.s1{
    margin-top: 24px;
    padding: 0 20px;
}

.s1 .item{
    margin-bottom: 24px;
    text-align: center;
    color:#363636;
}

.s1 .txt1{
    margin-bottom: 48px;
}

.s1 img{
    width: 100%;
}

.s1 h3{
    font-family: 'donut';
    font-size: 30px;
    margin-bottom: 12px;
}

.s1 p{
    font-size: 14px;
    font-family: 'pretendard';
}

/* event */
.s2 h2{
    font-weight: 900;
    text-align: center;
    font-size: 24px;
    margin-top: 100px;
    margin-bottom: 24px;
}

.s2{
    color:#363636;
    font-family: 'pretendard';
    padding: 0 20px;
}

.s2 .item{
    border-radius: 25px;
    box-shadow: 5px 5px 15px rgba(183,163,185,0.5);
    margin-bottom: 24px;
    transition: all 1s;
}

.s2 .item:hover{
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 30px rgba(183,163,185,0.3);
}

.s2 .item a{
    display: flex;
    align-items: center;
}

.s2 .pic img{
    width: 110px;
    height: 110px;
    border-radius: 8px;
}

.s2 .pic{
    padding: 15px;
}

.s2 p{
    margin-top: 5px;
    font-size: 14px;
}

.btnplus{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #a57dff;
    display: block;
    margin: 48px auto 0;
    position: relative;
    box-shadow: 5px 5px 15px rgba(183,163,185,0.5);
}

.btnplus span{
    display: block;
    width: 30px;
    height: 4px;
    background-color: #fff;
    position: absolute;
    top:33px;
    left: 20px;
    
}

.btnplus span:last-child{
    transform: rotate(90deg);
}

.s3{
    background-image: url(../images/sprinkles-falling-glazed-donuts.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: right -420px center;
    color:#fff;
    text-align: center;
    padding: 48px 0;
    margin-top: 48px;
    position: relative;
}

.s3:after{
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0,0,0.4);
}

.s3 .txt, .s3 .btn{
    z-index: 3;
    position: relative;
}

.s3 a{
    display: block;
    width: 180px;
    height: 40px;
    background-color: #fff;
    line-height: 40px;
    color:#363636;
    font-family: 'pretendard';
    font-weight: 700;
    margin: 6px auto;
    border-radius: 100px;
    box-shadow: 5px 5px 10px rgba(0, 0,0,0.4);
}

.s3 h2{

    font-size: 20px;
    font-weight: normal;
    font-family: 'pretendard';
    margin-bottom: 12px;
}

.s4 .sns{
    text-align: center;
}
.s4 .sns h3{
    font-size: 24px;
    font-family: 'pretendard';
    font-weight: 900;
    margin-top: 72px;
    color:#363636;

}

.s4 .sns img{
   height: 40px;
}

.s4 ul{
    margin-top: 12px;
    display: flex;
    justify-content: center;
}


.s4 li{
    margin-left: 6px;
    margin-right: 6px;
}

.s4 .item{
    padding:12px
}

.s4 .item img{
    width: 100%;
}


footer{
    background-color: #a57dff;
    color:#fff;
    font-size: 14px;
    width: 100%;
    padding-top: 28px;
    padding-bottom: 36px;
    text-align: center;
}



.flogo{
    font-size:30px;
    font-family:'donut';
}

address{
    font-style: normal;
}

footer p{
    margin-bottom: 12px;
}


